.banner {
	
background-image: linear-gradient(
  0deg,
  rgba(0, 0, 0, 0.6) 0%,      
  rgba(0, 0, 0, 0.3) 50%
),
url('../../images/background.png');

	color: #FFFFFF; 
    text-shadow: 0 4px 12px rgba(0, 0, 0, 0.9);
	padding: 150px 0px;
	background-size:cover ;
	background-position: center;
}
.banner h1 {
	font-size: 50px;}

.banner h2 {
	font-size: 30px;
	margin-bottom: 40px;
	opacity: 0.9;
	font-weight: 700;}