.cards {
	display:flex;
	flex-wrap:wrap;
	justify-content: center;
	gap: 20px;
	}


.card {
	padding:30px;
	display:flex;
	align-items:center;
	justify-content:space-between;
	box-shadow:0px 10px 30px rgba(0, 0, 0, 0.2); 
	border-radius: 6px;
	width: 700px;
	height: 180px;
	gap: 20px;
	margin:20px;
	flex: 0 400px 300px;
	box-sizing: border-box;
	flex-basis: 800px ;
	flex-grow: 1;
	}

.card img {
    flex: 0 0 160px;      
    max-width: 160px;      
    height: 120px;         
    object-fit: cover;     
    border-radius: 10px;   
    padding-left: 0;       
}
.card h3 {
	flex-grow: 1;
	padding-left: 18px;
	font-size: 20px;}

